html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #eee;
    background-image: url("../one.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#main {
    max-width: 450px;
    max-height: 700px;
    background-color: #eee;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 20%;
    border: 5px solid #8cbc82;
    border-radius: 10px;
    
}

#main h1{
    background-color: #8cbc82;
    margin: 0px 0px 0px;
    text-align: center;
    border: 0;
   
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    
}

#main h2 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-bottom: 0;
}

form {
    box-sizing: border-box;
    height: 140px;
    margin: 20px 10px 20px 10px;
}


#fullform {
    max-height: 140px;
}

form input {
width: 100%;
   margin-bottom: 5px;

   background-color: white;
   
}

#prior {
    width: 30px;
}

form label {
    max-width: 350px;
}

form textarea{
    resize: none;
    width: 100%;
    height: 50px;
}

table {
    table-layout: fixed;
    max-width: 100%;
    margin: 10px 25px 25px 25px;
    border-collapse: collapse;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

#delete {
    border-right: 1px solid black;
    vertical-align: center;
}

#pri {
  text-align: center;

}
td {
    
    border-right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 1px;
    padding-right: 0px;
}


tr:hover {
  background-color: #ddd;
}

th {
    background-color: #8cbc82;
}
 table th {
    border: 1px solid black;
   padding-right: 0px;
}

#pr {
    text-align: center;
}
